@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    background-image: url('chess5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    text-align: center;
    background-color: rgba(31, 38, 135, .37);
    padding-bottom: 20px;
    padding-top: 4px;
    
}

.titlec{
    text-align: left;
    color: white;
}

.history{
    color: white;
    font-size: 30px;
}

h1{
    color: white;
    margin-top: 40px;
    margin-left: 20px;
}

.container{
    box-shadow: 0 8px 32px 0 rgba(4, 95, 231, 0.37);
	border-radius: 30px;
    width: 80%;
    margin-left: 200px;
    margin-top: 40px;
}

#his{
    color: white;

}